---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Gallery from '../components/Gallery.astro';
import Map from '../components/Map.astro';
---

<Layout title="Barber">
  <main>
    <Hero />
    <Gallery />
    <Map />
	</main>
</Layout>


