<div class="border-2 border-black p-2 shadow-black shadow-sm hover:scale-105 transition-transform duration-300">
  <img 
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRNnUQjardW9leFbS-CvEIJJKnQyJ8GzUkcw&s" 
    alt="corte"
    class="w-80 h-80 pb-5"
  >
</div>

<div class="border-2 border-black p-2 shadow-black shadow-sm hover:scale-105 transition-transform duration-300">
  <img 
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAZmUGA_A51TCiQnSBswIsWtitRfmuTR3c8A&s" 
    alt="corte"
    class="w-80 h-80 pb-5"
  >
</div>

<div class="border-2 border-black p-2 shadow-black shadow-sm hover:scale-105 transition-transform duration-300">
  <img 
    src="https://i.pinimg.com/550x/06/27/d2/0627d215a31498fe0879f60f59a59199.jpg" 
    alt="corte"
    class="w-80 h-80 pb-5"
  >
</div>
