---
const props = Astro.props;
---

<footer>
  <div class="bg-[#333333] flex justify-between pl-0 px-8 lg:px-[12rem]  h-auto py-5">
  <div class="flex text-white">
    <div class="mb-4 ml-4 md:ml-0">
      <img src="./assets/logobar.webp" alt="logo" class=" h-32 md:h-56">
    </div>

  </div>
  <div class="text-white text-center text-[1.3rem] lg:text-[2rem]"> 
      <h2 class="mb-2 bebas-neue-regular">También puedes seguir nuestras redes</h2>
      <div>
        <ul>
          
        </ul>
      </div>
    </div>
  </div>
</footer>

