---
const props = Astro.props;
---

<footer>
  <div class="bg-gray-950 flex justify-between pl-0 pr-5  lg:px-[12rem]  h-auto py-5">
  <div class="flex text-white">
    <div class="mb-4">
      <img src="./assets/logobar.webp" alt="logo" class="h-20 lg:h-28">
    </div>
    <div class=" mt-2 lg:mt-2 bebas-neue-regular text-[1.3rem] lg:text-[2rem]" >
      <h3>TuLook</h3>
      <h4>Barber</h4>
    </div>
  </div>
  <div class="text-white text-center text-[1.3rem] lg:text-[2rem]"> 
      <h2 class="mb-2 bebas-neue-regular">Nuestras redes</h2>
    </div>
  </div>
</footer>

