

<section class="relative h-screen">
  <img src="./assets/bg-barber.webp" alt="barber-bg" class="h-full w-full object-cover">
  <div class="absolute inset-0 bg-gray-950 opacity-80"></div>
  <div class="absolute inset-0 flex flex-col items-center justify-center">
    <h1 class="text-white text-[4rem] uppercase mb-5 junigardenSerif  ">
      Tu Look <span class="font-bold">Barber</span>
    </h1>
    <a href="#form">
       <button 
        type="button"
        class="bg-[#C99E10] text-white font-bold uppercase px-4 py-2 border border-white rounded transition duration-300 ease-in-out hover:bg-[#A9810D] hover:scale-105"

        >
          Reservar Turno
      </button>

    </a>

  </div>
</section>
