---
import 'leaflet/dist/leaflet.css';

const position = [51.505, -0.09]; // Coordenadas del mapa
---

<div id="map" style="height: 400px; width: 100%; border: 1px solid black;"></div>

<script type="module">
  import L from 'leaflet';

  window.onload = () => {
    // Inicializa el mapa
    var map = L.map('map').setView(position, 13);

    // Agrega los tiles
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Agrega un marcador con un popup
    L.marker(position).addTo(map)
      .bindPopup('A pretty CSS popup.<br> Easily customizable.')
      .openPopup();
  };
</script>
